* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b2bbbe;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

body {
  width: 330px;
  background-color: #eceff7;
}

input {
  border: 1px solid #cacaca;
}

input:focus-visible {
  outline: none;
}

#app {
  padding: 5px 10px 10px;
}

.partition {
  margin: 12px 0;
  height: 1px;
  background-color: #cecece;
}

.title {
  text-align: center;
}

/* config */

.config {
  padding: 0 2px;
}

/* config writes */

.config .writes .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  padding: 3px 0;
}

.config .writes .item span {
  width: 55px;
  text-align: justify;
  text-align-last: justify;
}

.config .writes .item .config-input {
  flex: 1;
  height: 100%;
  margin-left: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

/* config options */

.config .options {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.config .options .options-label {
  display: flex;
  align-items: center;
  height: 20px;
}

.config .options .options-label .config-checkbox {
  margin-right: 8px;
}

/* box */

.box {
  min-height: 300px;
}

.box .search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  background-color: #ffff;
}

.box .search .search-ipt {
  width: 220px;
  height: 38px;
  border: none;
}

.box .search .search-ipt:focus-visible {
  outline: none;
}

.box .search .search-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #ffff;
  background-color: #000;

}

.box .search .search-btn[disabled] {
  background-color: #c5c5c5;
}

/* message list */

.box .message-list {
  margin-top: 10px;
  max-height: 350px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.box .message-list .item {
  margin: 12px 0;
  padding: 6px;
  min-height: 30px;
  border-radius: 6px;
  background-color: #ffff;
}
